<!DOCTYPE html>
<html lang="en">
	{% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SpamKiller Login</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/form-elements.css' %}">
        <link rel="stylesheet" href="{% static 'css/please-wait.css' %}">
        <link rel="stylesheet" href="{% static 'css/splash-style.css' %}">

        <!-- Favicon and touch icons -->


    </head>


    <body>

        <!-- Javascript -->
        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'js/please-wait.js' %}"></script>
        <script src="{% static 'js/splash.js' %}"></script>
        

    </body>

</html>